.campaign__header {
  background-image: url("https://i.imgur.com/Z7nLXKH.png");
  height: 350px;
  background-size: cover;
  background-position: center;
  /* background-position-y: bottom; */
  color: var(--background);
}

.campaign__header h1 {
  font-size: 2rem;
  text-shadow: 3px 3px 6px black;
}

.campaign__backdrop {
  padding-top: 75px;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.475),
    transparent
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#demo-warning {
  margin: 0;
  padding: 10px;
  width: 100%;
  position: absolute;
  top: 70px;
}

#demo-warning > div {
  background-color: rgb(255, 237, 138);
  border-radius: 5px;
  width: 100%;
  text-align: center;
  padding: 5px;
  border: 2px solid rgb(155, 119, 0);
  color: rgb(58, 44, 0);
  /* font-size: large; */
  font-weight: 500;
}

.campaign__backdrop > * {
  margin: 0 50px;
  padding: 0;
}

.campaign__card {
  display: flex;
  height: 200px;
  /* border-radius: 5px; */
  background-color: #0000001a;
  overflow: visible;
  box-shadow: 0 0 2px rgb(0, 0, 0);
  /* border: 1px solid #868686; */
  border-bottom: 2px solid #868686;
  border-top: 2px solid #868686;
  margin: 7px 10px;
}

.campaign__card:hover {
  transition: 100ms;
  background-color: rgb(201, 201, 201);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
  cursor: pointer;
}

.cards__section {
  /* padding: 30px; */
  overflow: hidden;
}

.campaign__cards {
  display: flex;
  flex-direction: column;
}

.card-body {
  margin: 15px 10px;
  flex: 1;
  overflow: hidden;
}

.card-image {
  width: 350px;
  background-size: cover;
  background-position: center;
  margin: 10px;
  /* border-radius: 4px; */
  border: 1px solid black;
}

.card-body > h4,
.card-body > h5 {
  margin: 0;
}

.card-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
}

.card-text {
  padding: 10px;
  font-size: 1rem;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
}

.campaign__cards a {
  text-decoration: none;
  color: black;
}

.campaign__backdrop > div {
  display: flex;
  gap: 20px;
}

.campaign__details {
  display: flex;
  flex-grow: 1;
  max-width: 100vw;
  overflow: hidden;
  min-height: 800px;
}

.content-selection {
  display: flex;
  /* border-right: 1px solid rgb(170, 170, 170); */
  min-height: 800px;
  flex-grow: 1;
  min-height: unset;
  width: fit-content;
}

.height-null {
  height: 10px;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-list > div:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.item-list > div {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgb(170, 170, 170);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-between;
}

.item-list [role="item"] {
  position: relative;
}

.item-list [role="item-text"] {
  width: calc(100% - 20px);
  text-overflow: ellipsis;
  overflow: hidden;
}

.item-list [role="delete"] {
  position: absolute;
  right: 0;
}

.category-selection {
  border-right: 1px solid rgb(170, 170, 170);
  background-color: rgba(0, 0, 0, 0.08);
  /* box-shadow: 10px 0 5px -5px rgba(0, 0, 0, 0.1); */
}

.tab-content {
  background-color: rgba(255, 255, 255, 0.6);
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.campaign__main {
  display: flex;
  flex-direction: column;
}

.tab-selected {
  background-color: rgba(0, 0, 0, 0.05);
}

.tab-selection {
  border-right: 1px solid rgb(170, 170, 170);
}

.public-private-selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid rgb(170, 170, 170);
  border-right: 1px solid rgb(170, 170, 170);
  background-color: rgba(0, 0, 0, 0.1);
}

.public-private-selection div {
  display: flex;
  align-items: center;
}

.public-private-selection strong {
  font-size: 20.5px;
  font-weight: 500;
  margin-right: 10px;
  text-wrap: wrap;
}

.content-container {
  display: flex;
  flex-direction: column;
}

.public-private-selection-dropdown {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.public-private-container {
  position: relative;
  width: inherit;
}

.public-private-selection-dropdown div:hover {
  background-color: #e6e6e6;
}

.public-private-selection-dropdown div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.markdown-editor {
  flex-grow: 1;
  font-size: 18px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

[class*="rootContentEditableWrapper"] {
  flex-grow: 1;
  display: flex;
}

.markdown-editor div[role="toolbar"] {
  border-bottom: 1px solid rgb(170, 170, 170);
  border-radius: 0;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 10px 6px;
}

/* .markdown-editor div[role=textbox] {
  flex-grow: 1;
  padding: 20px;
  min-height: 500px;
} */

div[data-radix-popper-content-wrapper] {
  z-index: 1000 !important;
}

.markdown-editor div[role="textbox"] ul {
  padding-left: 30px;
}

.markdown-editor div[role="textbox"] ol {
  padding-left: 30px;
}

.markdown-editor div[role="textbox"] * {
  margin-bottom: 10px;
  max-width: 100%;
}

/* .markdown-editor p {
  font-size: 16px;
} */

.public-private-selection p {
  display: none;
}

span.react-resizable-handle {
  background: none;
  height: 100%;
  cursor: e-resize;
  width: 10px;
  right: -5px;
}

.small-button {
  padding: 0 5px;
  color: black;
  font-size: large;
  cursor: pointer;
}

.small-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.smaller-button {
  cursor: pointer;
  padding: 0 5px;
}

.smaller-button:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.no-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  gap: 30px;
}

.no-cards > p {
  font-size: 1.5rem;
  font-weight: 500;
  color: rgb(170, 170, 170);
}

.create-new {
  display: flex;
  font-weight: 600;
}

.confirm-button-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  gap: 20px;
  margin: 0;
}

#inventory-checkbox {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.save-auto {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 4px;
  /* border-radius: 5px; */
  /* border: 1px solid #e4e4e4; */
}

.unsaved-changes-dialog-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.past-versions-dialog-container {
  flex-grow: 1;
  overflow-y: scroll;
}

.past-version {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(170, 170, 170);
  background-color: #eeeeee;
  margin-bottom: 10px;
}

.view-more {
  margin-top: 5px;
  color: blue;
  text-decoration: underline;
}

.campaign__header {
  transition: background-image 0.2s;
}

.toggle-content {
  margin-bottom: 10px;
  text-decoration: underline;
}

.player-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}

@media only screen and (max-width: 800px) {
  .card-image {
    object-fit: cover;
  }

  .campaign__backdrop {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .campaign__backdrop > div {
    margin: 0;
  }

  .campaign__cards a {
    width: 100%;
    display: flex;
  }

  .campaign__card {
    width: 100%;
    height: 300px;
    flex-wrap: wrap;
  }

  .card-body {
    margin-top: 0;
  }

  .campaign__card .card-image {
    height: 150px;
    width: 100%;
  }

  .campaign__details {
    flex-wrap: wrap;
  }

  .content-container {
    display: flex;
    flex-grow: 1;
    border-bottom: 1px solid rgb(142, 142, 142);
  }

  .content-container > div {
    width: 100%;
  }

  .content-selection {
    border-right: none;
  }

  .content-selection > div {
    width: 50% !important;
  }

  .item-list > div {
    width: 100%;
  }

  .react-resizable-handle {
    display: none;
  }

  .public-private-selection p {
    display: block;
  }

  .tab-selection {
    border-right: none;
  }
}
